body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(bg.jpeg);
}
header {
  display: flex;
}
.logo img {
  width: 35%;
  position: relative;
  bottom: 11%;
}
.topic img {
  width: 70%;
  margin-left: 70%;
  position: relative;
  bottom: 13%;
}
